<h2> Sign up with makers BnB </h2>
<form action="/users" method="post">
  <ul>
    <li> name <input type="text" name="name"> </li>
    <li> email <input type="text" name="email"> </li>
    <li> password <input type="text" name="password"> </li>
  </ul>
  <button type="submit" value="submit"> sign up </button>
</form>
