<h1>Create a new listing</h1>
<ul>
  <form action="/space" method="post">
    <li>  Title <input type="text" name="Title"> </li>
    <li>  Description <input type="text" name="Description"> </li>
    <li>  Location <input type="text" name="Location"> </li>
    <li>  Price <input type="text" name="Price"> </li>
    <li>  Available? </li>
      <label> Monday </label>
      <input type="checkbox" name="Monday"> 
      <label> Tuesday </label>
      <input type="checkbox" name="Tuesday"> 
      <label> Wednesday </label>
      <input type="checkbox" name="Wednesday"> 
      <label> Thursday </label>
      <input type="checkbox" name="Thursday"> 
      <label> Friday </label>
      <input type="checkbox" name="Friday"> 
      <label> Saturday </label>
      <input type="checkbox" name="Saturday"> 
      <label> Sunday </label>
      <input type="checkbox" name="Sunday"> 
    <input type="submit" name="Submit">
  </form>
</ul>