<h2> Sign up with makers BnB </h2>
<form action="/user" method="post">
  <ul>
    <li> First name <input type="text" name="first_name" placeholder="Enter name"> </li>
    <li> Last name <input type="text" name="last_name" placeholder="Enter name"> </li>
    <li> email <input type="text" name="email" placeholder="Enter address"> </li>
    <li> password <input type="password" name="password" placeholder="Create new password"> </li>
  </ul>
  <button type="submit" value="submit">Sign up</button>
</form>
