<h2> <%= "hi you are booking #{@title}" %> </h2></br>
<h2> <%= "hi you have booked #{@title}" %> </h2></br>
<h3> <%= "#{@description}" %> </h3>
<p> <%= "From #{@starting_date} until #{@ending_date}" %> </p></br>

<a href="/home"
  ><button type="button"><span></span>Back to Spaces</button></a
>

