Booking page
<form action='/booking/confirmation' method='post'>
      <li>  days? </li>
      <label> Monday </label>
      <input type="checkbox" name="Monday">
      <label> Tuesday </label>
      <input type="checkbox" name="Tuesday">
      <label> Wednesday </label>
      <input type="checkbox" name="Wednesday">
      <label> Thursday </label>
      <input type="checkbox" name="Thursday">
      <label> Friday </label>
      <input type="checkbox" name="Friday">
      <label> Saturday </label>
      <input type="checkbox" name="Saturday">
      <label> Sunday </label>
      <input type="checkbox" name="Sunday">
    <input type="submit" name="Submit">
</form>
