<h1>Create a new listing</h1>
<ul>
  <form action="/space" method="post">
    <li>  Title <input type="text" name="title"> </li>
    <li>  Description <input type="text" name="description"> </li>
    <li>  Location <input type="text" name="location"> </li>
    <li>  Price <input type="text" name="price"> </li>
    <li>  Available? </li>
      <label> Monday </label>
      <input type="checkbox" name="monday"> 
      <label> Tuesday </label>
      <input type="checkbox" name="tuesday"> 
      <label> Wednesday </label>
      <input type="checkbox" name="wednesday"> 
      <label> Thursday </label>
      <input type="checkbox" name="thursday"> 
      <label> Friday </label>
      <input type="checkbox" name="friday"> 
      <label> Saturday </label>
      <input type="checkbox" name="saturday"> 
      <label> Sunday </label>
      <input type="checkbox" name="sunday"> 
    <input type="submit" name="Submit">
  </form>
</ul>