<h1> All Listings </h1>
<br>
<ul>
<% @space.each do |x|%>
  <li>
  <article>
    
    <h2><%= x.title %></h2>
    <p><%= x.description %></p>
    <p><%= x.location %></p>
    <p>£<%= x.price %> per night</p>
    
  </article>
  </li>
  <% end %>
</ul>
    
