<h1> All Listings </h1>
<br>
<ul>
  <li>
  <article>
    <h2><%= @Title %></h2>
    <p><%= @Description %></p>
    <p><%= @Location %></p>
    <p>£<%= @Price %> per night</p>
  </article>
  </li>
</ul>
    
